@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/student.css" rel="stylesheet" />

<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <img style="width:100vw ;height:80vh;opacity:0.9" src="~/assets/school.jpg" />
</div>


