@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/student.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100&family=Water+Brush&display=swap" rel="stylesheet">

<div class="text-center" >
    <h1 class="display-4">Welcome To BKIT</h1>
    <img class="img-content" src="~/assets/college.jpg" />
</div>


